body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #c9cbff;
}

.title {
  display: inline-flex;
  margin: 1rem;
}

.imgSize {
  height: 5%;
  width: 5%;
  margin: 0.5rem 1rem 0.5rem;
}

.navTitle {
  /* text-align: right; */
}
