body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div > img {
  height: 5%;
  width: 5%;
  margin-right: 1.5rem;
}
.headerButton {
  border: none;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
}
header {
  background-color: #c9cbff;
}

.navTitle {
  text-align: right;
}
