body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button > img {
  height: 20%;
  width: 20%;
  margin-bottom: 0.5rem;
}
.headerButton {
  border: none;
  background-color: #c9cbff;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
}
header {
  background-color: #c9cbff;
}
